body {
  padding-bottom: 100px;
}
.topcon {
  margin-top: 100px !important;
}
h1 {
  font-size: 5em !important;
  text-align: center;
}
h2 {
  font-size: 3em !important;
  text-align: center;
}
h3 {
  text-align: center;
  color: thistle;
}
p {
  text-align: left;
}
.btn {
  display: block !important;
  background-color: thistle !important;
  color: aliceblue !important;
  text-align: center !important;
}
